<!-- client-list.component.html -->
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.idClient }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.phone | phoneFormat }}</td>
      </tr>
    </tbody>
  </table>
  
  <pagination-controls
    (pageChange)="pageChanged($event)"
    [totalItems]="totalItems"
    [itemsPerPage]="1"
    [maxSize]="maxSize"
    [directionLinks]="true"
    [autoHide]="true">
  </pagination-controls>
  